.city__card {
    width: 100%;
    height: 15rem;
    background-color: rgba(0,0,0,0.0);
}

.card__img {
    width: 100%;
    height: inherit;
    filter: brightness(0.9);
    z-index: 0;
}

.elements {
    padding: 10px;
    gap: 16px;
    display: flex;
}

.city__results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: -14.37rem;
    height: 220px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    h3 {
        text-align: center;
        font-size: 24px;
        color: #ddd;
        text-shadow: 4px 3px 6px #000;
    }
    p {
        font-size: 1rem;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    } 
}

.imagen__clima {
    width: 50px;
}