.element__container {
    width: fit-content;
    display: flex;
    min-width: 4rem;
    min-height: 3.5rem;
    padding: 0 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.17);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

.element__name, .element__description {
    margin: 0;
    text-align: center;
}