.card__container {
    height: 15rem;
    width: 20rem;
    background-color: aqua;
    display: flex;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}