.card__container {
    width: 24rem;
    display: flex;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.7);
}

.card {
    width: 100%;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo {
    width: 100vw;
    height: 100vh;
    filter: blur(10px) opacity(0.85);
    position: absolute;
    z-index: -1;
}