.card__container {
    height: 100vh;
    width: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}